doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet", href="css/maine.css")
        title MAKET
    body 


        section.table 
            .container 
                .row 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                        .table__logo 
                            .table__logo__img
                                img(src="image/2.png", alt="1")
                            .table__logo__title 
                                h4 Living
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                        .table__card
                            .table__card__menu
                                h3 Living Room Items
                            .table__card__title 
                                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45  professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
                            .table__card__btn 
                                button.bn Read More
                .row 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12.order-md-2.order-2  
                        .table__deck
                            .table__deck__menu
                                h3 Trendy Dining Table
                            .table__deck__title 
                                p Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
                            .table__deck__btn 
                                button.bn View Items
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12.order-md-1.order-1 
                        .table__title
                            .table__title__img
                                img(src="image/1.png", alt="1")
                            .table__title__logo 
                                h4 Dining 
                .row 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                        .table__dsck 
                            .table__dsck__img
                                img(src="image/4.png", alt="1")
                            .table__dsck__title 
                                h4 Bed 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                        .table__xxl
                            .table__xxl__menu
                                h3 Modern Bed
                            .table__xxl__title 
                                p Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
                            .table__xxl__btn 
                                button.bn View Items
                .row 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12.order-md-2.order-2 
                        .table__xl
                            .table__xl__menu
                                h3 Populer kitchen Items
                            .table__xl__title 
                                p Contrary to popular belief, Lorem Ipsum is not simply random text. literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin.
                            .table__xl__btn 
                                button.bn View Items
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12.order-md-1.order-1 
                        .table__lg
                            .table__lg__img
                                img(src="image/3.png", alt="1")
                            .table__lg__logo 
                                h4 Kitchen 

        section.off(style="background-image: url(image/5.jpg); ")
            .container 
                .off__menu 
                    h2 Get 30% Off
                .off__logo 
                    p Contrary to popular belief, Lorem Ipsum is not simply  years old. Richard McClintock, a Latin.
                .off__input 
                    p
                        input(type='email' name='email' placeholder='emayilingizni kiriting')
                    button.bm Subscrive

        footer.footer 
            .container 
                .row 
                    .col-xxl-3.col-xl-3.col-lg-3.col-md-6.col-sm-6
                        .footer__image
                            .footer__image__img 
                                img(src="image/6.png", alt="6")
                            .footer__image__menu 
                                p Contrary to popular belief, Lorem Ipsum is not simply  years old Latin.
                            .footer__image__icon 
                                <i class="fa-brands fa-facebook"></i>
                            .footer__image__xxl 
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-youtube"></i>
                    .col-xxl-3.col-xl-3.col-lg-3.col-md-6.col-sm-6
                        .footer__logo 
                            .footer__logo__menu 
                                h4 Explore
                            .footer__logo__title 
                                ul 
                                    li 
                                        a(href="#") About Us
                                ul 
                                    li 
                                        a(href="#") Survices
                                ul 
                                    li 
                                        a(href="#") Our Team
                                ul 
                                    li 
                                        a(href="#") Trendy
                                ul 
                                    li 
                                        a(href="#") Gallery
                    .col-xxl-3.col-xl-3.col-lg-3.col-md-6.col-sm-6 
                        .footer__title 
                            .footer__title__menu 
                                h4 Contact Us
                            .footer__title__deck
                                p 45 Tooring High SL London SA17 United kingdoom
                            .footer__title__xxl 
                                p 018123456789
                            .footer__title__xl 
                                p petroger456@gmail.com
                    .col-xxl-3.col-xl-3.col-lg-3.col-md-6.col-sm-6
                        .footer__deck 
                            .footer__deck__menu 
                                h4 Survice Hours
                            .footer__deck__title 
                                <p> Mon-Fri  :<span>09.00am - 19.00pm</span></p>
                                <p> Saturday:<span>10.00am - 18.00pm</span></p>
                                <p> Sunday   :<span>We are Closed</span></p>
                .footer__lg 
                    span 2021 Greenery. All Right Reserved







        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")